body{ 
font-family: 'Righteous', cursive;
 background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAP1BMVEUAAAArCgOlYwNbIwC1ZQQ9GgS6eQXJhQqSYQJlLwGnZQMnBgNJIQO7aAS4ZwSISgQ1FAQ0EQSVXgWUYwJ8SgIQv6cOAAABa0lEQVR4nO3aQU4CAAxFwaKoKCqI3v+sXqFvRTQzJ2je8qdzYG3ufcBfIlYgViBWIFYgViBWIFYgViBWIFYgViBWIFYwZ9bmnbX5YG2OrIkViBWIFYgViBWIFYgViBWIFYgViBWIFYgVzCdrc2FtrqzNE2tiBWIFYgViBWIFYgViBWIFYgViBWIFYgViBfPF2txYm2fWxArECsQKxArECsQKxArECsQKxArECsQKxArECsQK5o21eWBNrECsQKxArECsQKxArECsQKxArECsQKxArECswJ4VzAtrYgViBWIFYgViBWIFYgViBWIFYgViBWIFYgViBWIFPv+CObEmViBWIFYgViBWIFYgViBWIFYgViBWIFYgViBWMN+szQ9r88qaWIFYgViBWIFYgViBWIFYgViBWIFYgViBWIFYgVjBPLImViBWIFYgViBWIFYgViBWIFYgViBWIFYgViBWIFYgVjAAAAAAwP/0C6HXAaFKfTuYAAAAAElFTkSuQmCC"); 

  font-size: 17px;
 

  
  background-repeat: no-repeat;
  background-color: black;

  text-align: center;
    text-transform: uppercase;
  
  letter-spacing: 2px;
    margin-top: 150px;
    margin-bottom: 10px;
 background-size: 1950px 1020px;
  background-position:middle;

  color: white;
  
}
a{ 
font-family: 'Righteous', cursive;
 
font-size: 25px;
  background-image:cover;

  
  text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 125px;
    margin-bottom: 10px;
  
  

color: darkgreen;
}
p{ 
font-family: 'Righteous', cursive;
 
font-size: 25px;
  background-image:cover;

  
  text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    
  color:red;}